@page "/contactus"

@inject HttpClient http
@inject IMessageService msgSrvc

<h3>ContactUs</h3>

<EditForm Model="@contactForm" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for=""> Name </label>
        <InputText id="name" class="form-control" @bind-Value="contactForm.Name" />
    </div>
    <div class="form-group">
        <label for=""> Message </label>
        <InputTextArea id="message" class="form-control" @bind-Value="contactForm.Text" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>


@code {
     private Message contactForm = new Message();

    private async Task HandleValidSubmit() {       
        StringContent content = msgSrvc.prepareMessageAsync(contactForm);
        var status = await http.PostAsync("https://localhost:44359/messages", content); 
    }
}