@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        <AuthorizeView>

            <Authorized>

                @Body

            </Authorized>
            <NotAuthorized>
                Za koristenje stranice <a href="Identity/Account/Login">izvršite prijavu!</a> 
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code{

        
}